In [18]:
import tushare as ts
import pandas as pd 
import numpy as np 
ts.set_token('0f4b35d3d62521f3651900c34d94c99908f69dee7628fd4510801ba7')
pro = ts.pro_api()

In [21]:
# name = 'KO'
# name = 'PG'
# name = 'PEP'
# name = 'WMT'
# name = 'PM'
# data = pro.us_daily(ts_code=name, start_date='20150101')
# data
name = ['KO','PG','PEP','WMT','PM']

In [30]:
result = pd.DataFrame()
for stock_name in name:
    data = pd.read_csv(stock_name+'.csv')
    data.set_index('trade_date',inplace=True)
    data = pd.DataFrame(data['close'])
    data[stock_name]=data['close']
    data.drop('close',axis=1,inplace=True)
    result = pd.concat([result, data], axis=1, join='outer')
result

               KO      PG     PEP     WMT     PM
trade_date
20150102    42.14   90.44   94.44   85.90  81.02
20150105    42.14   90.01   93.73   85.65  80.41
20150106    42.46   89.60   93.02   86.31  81.10
20150107    42.99   90.07   95.74   88.60  81.71
20150108    43.51   91.10   97.48   90.47  82.94
...           ...     ...     ...     ...    ...
20201119    53.13  139.53  143.32  152.12  77.51
20201120    52.67  139.30  143.42  150.24  76.73
20201123    52.68  138.76  143.02  150.93  76.63
20201124    53.22  138.31  144.03  151.36  78.02
20201125    52.93  138.68  144.16  151.83  76.89

[1485 rows x 5 columns]

In [31]:
result.to_csv('消费者股票指数.csv')