In [1]:
# condig:utf-8
import torch as th
import numpy as np
class GM():
 
    def __init__(self):
        # 判断是否可用 gpu 编程 , 大量级计算使用GPU
        self._is_gpu = False  # th.cuda.is_available()
 
    def fit(self,dt:list or np.ndarray):
        self._df :th.Tensor = th.from_numpy(np.array(dt,dtype=np.float32))
 
        if self._is_gpu:
            self._df.cuda()
 
        self._n:int = len(self._df)
 
        self._x,self._max_value = self._sigmod(self._df)
 
        z:th.Tensor = self._next_to_mean(th.cumsum(self._x,dim=0))
 
        self.coef:th.Tensor = self._coefficient(self._x, z)
 
        del z
 
        self._x0:th.Tensor = self._x[0]
 
        self._pre:th.Tensor = self._pred()
 
    # 归一化
    def _sigmod(self,x:th.Tensor):
        _maxv:th.Tensor = th.max(x)
        return th.div(x,_maxv),_maxv
 
    # 计算紧邻均值数列
    def _next_to_mean(self, x_1:th.Tensor):
 
        z:th.Tensor = th.zeros(self._n-1)
        if self._is_gpu:
            z.cuda()
 
        for i in range(1,self._n):  # 下标从0开始，取不到最大值
            z[i - 1] = 0.5 * x_1[i] + 0.5 * x_1[i - 1]
 
        return z
 
    # 计算系数 a,b
    def _coefficient(self,x:th.Tensor,z:th.Tensor):
 
        B:th.Tensor = th.stack((-1*z, th.ones(self._n-1)),dim=1)
 
        Y:th.Tensor = th.tensor(x[1:],dtype=th.float32).reshape((-1,1))
 
        if self._is_gpu:
            B.cuda()
            Y.cuda()
 
        # 返回的是a和b的向量转置，第一个是a 第二个是b；
        return th.matmul(th.matmul(th.inverse(th.matmul(B.t(), B)), B.t()),Y)
 
 
    def _pred(self,start:int=1,end:int=0):
 
        les:int = self._n+end
 
        resut:th.Tensor = th.zeros(les)
 
        if self._is_gpu:
            resut.cuda()
 
        resut[0] = self._x0
 
        for i in range(start,les):
            resut[i] = (self._x0 - (self.coef[1] / self.coef[0])) * \
                            (1 - th.exp(self.coef[0])) * th.exp(-1 * self.coef[0] * (i))
        del les
        return resut
 
    # 计算绝对误差
    def confidence(self):
        return round((th.sum(th.abs(th.div((self._x-self._pre),self._x)))/self._n).item(),4)
 
    # 预测个数，默认个数大于等于0，
    def predict(self,m:int=1,decimals:int=4):
 
        y_pred:th.Tensor = th.mul(self._pre,self._max_value)
 
        y_pred_ = th.zeros(1)
 
        if m<0:
            return "预测个数需大于等于0"
        elif m>0:
            y_pred_:th.Tensor = self._pred(self._n,m)[-m:].mul(self._max_value)
        else:
            if self._is_gpu:
                return list(map(lambda _: round(_, decimals), y_pred.cpu().numpy().tolist()))
            else:
                return list(map(lambda _:round(_,decimals),y_pred.numpy().tolist()))
 
        # cat 拼接 0 x水平拼接，1y垂直拼接
        result:th.Tensor = th.cat((y_pred,y_pred_),dim=0)
 
        del y_pred,y_pred_
 
        if self._is_gpu:
            return list(map(lambda _: round(_, decimals), result.cpu().numpy().tolist()))
 
        return list(map(lambda _:round(_,decimals),result.numpy().tolist()))
 
 
 
if __name__=="__main__":
    ls = np.arange(91,100,2)
    print(type(ls))
    # ls = list(range(91, 100, 2))
    gm = GM()
    gm.fit(ls)
    print(gm.confidence())
    print(ls)
    print(gm.predict(m=2))

<class 'numpy.ndarray'>

<ipython-input-1-60b02699fad1>:52: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  Y:th.Tensor = th.tensor(x[1:],dtype=th.float32).reshape((-1,1))

0.0002
[91 93 95 97 99]
[91.0, 93.0178, 94.9758, 96.9751, 99.0164, 101.1007, 103.2289]

In [2]:
import pandas as pd 
from IPython.display import display
data = pd.read_excel('regression.xlsx')
data = data[['Country','Year','Score']]
data

                                 Country  Year     Score
0                            Afghanistan  2000  4.057341
1                                Albania  2000  3.658972
2                                Algeria  2000  3.405881
3                                 Angola  2000  2.791749
4                    Antigua and Barbuda  2000  2.937933
...                                  ...   ...       ...
3755  Venezuela (Bolivarian Republic of)  2019  3.302967
3756                            Viet Nam  2019  3.093148
3757                               Yemen  2019  3.290519
3758                              Zambia  2019  3.611598
3759                            Zimbabwe  2019  3.021611

[3760 rows x 3 columns]

In [3]:
confidence =[]
all_result = pd.DataFrame()
for country in data.Country.unique():
    print(country)
    one_country_data = data[data.Country == country]
    one_country_result = []
    country_li = []
    year_li = []
    for year in range(2000,2026):
        country_li.append(country)
        year_li.append(year)
    ls = np.array(one_country_data['Score'])
    gm = GM()
    gm.fit(ls)
    print(gm.confidence())
    confidence.append(gm.confidence())
    pred = gm.predict(m=6)
    one_country_result.append(country_li)
    one_country_result.append(year_li)
    one_country_result.append(pred)
    one_country_result = pd.DataFrame(one_country_result)
    one_country_result =one_country_result.T
    all_result = pd.concat([all_result,one_country_result],axis=0)
all_result

Afghanistan
0.0626
Albania
0.0368
Algeria
0.0274
Angola
0.064
Antigua and Barbuda
0.0226
Argentina
0.0364
Armenia
0.0167
Australia
0.0454
Austria
0.0054
Azerbaijan
0.0333
Bahamas
0.0216
Bahrain
0.0093
Bangladesh
0.0359
Barbados
0.0003
Belarus
0.016
Belgium
0.0182
Belize
0.0202
Benin
0.0684
Bhutan

<ipython-input-1-60b02699fad1>:52: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  Y:th.Tensor = th.tensor(x[1:],dtype=th.float32).reshape((-1,1))

0.0602
Bolivia (Plurinational State of)
0.0073
Bosnia and Herzegovina
0.0108
Botswana
0.0075
Brazil
0.0457
Brunei Darussalam
0.0086
Bulgaria
0.0069
Burkina Faso
0.063
Burundi
0.0969
Cabo Verde
0.0103
Cambodia
0.0676
Cameroon
0.0576
Canada
0.0969
Central African Republic
0.0833
Chad
0.0645
Chile
0.0864
China
0.95
Colombia
0.1227
Comoros
0.0418
Congo
0.0087
Cook Islands
0.0232
Costa Rica
0.0175
Croatia
0.0572
Cuba
0.0711
Cyprus
0.0036
Czechia
0.0081
Democratic People's Republic of Korea
0.0085
Democratic Republic of the Congo
0.0223
Denmark
0.0166
Djibouti
0.0241
Dominica
0.0307
Dominican Republic
0.0498
Ecuador
0.0446
Egypt
0.2468
El Salvador
0.0807
Equatorial Guinea
0.0216
Eritrea
0.009
Estonia
0.0066
Eswatini
0.0049
Ethiopia
0.021
Faroe Islands
0.0088
Fiji
0.0778
Finland
0.0048
France
0.0194
French Polynesia
0.0247
Gabon
0.0106
Gambia
0.0214
Georgia
0.0196
Germany
0.0879
Ghana
0.0506
Greece
0.0456
Grenada
0.0087
Guatemala
0.057
Guinea
0.0487
Guinea-Bissau
0.0239
Guyana
0.0031
Haiti
0.1004
Honduras
0.1088
Hungary
0.0093
Iceland
0.0617
India
0.254
Indonesia
0.2805
Iran (Islamic Republic of)
0.0119
Iraq
0.1996
Ireland
0.011
Israel
0.0415
Italy
0.1176
Jamaica
0.0083
Japan
0.35
Jordan
0.0017
Kazakhstan
0.0278
Kenya
0.0451
Kiribati
0.0038
Kuwait
0.0041
Kyrgyzstan
0.0159
Lao People's Democratic Republic
0.0175
Latvia
0.0018
Lebanon
0.0522
Lesotho
0.0107
Liberia
0.0769
Libya
0.0479
Lithuania
0.0146
Luxembourg
0.0006
Madagascar
0.0887
Malawi
0.0814
Malaysia
0.1328
Maldives
0.023
Mali
0.0538
Malta
0.004
Mauritania
0.0085
Mauritius
0.0091
Mexico
0.1008
Mongolia
0.0236
Montenegro
0.0091
Morocco
0.0232
Mozambique
0.0834
Myanmar
0.0253
Namibia
0.0638
Nauru
0.0216
Nepal
0.0383
Netherlands
0.0146
New Caledonia
0.0085
New Zealand
0.0772
Nicaragua
0.041
Niger
0.0339
Nigeria
0.0087
North Macedonia
0.0082
Norway
0.031
Oman
0.0251
Pakistan
0.0103
Palestine
0.0117
Panama
0.0087
Papua New Guinea
0.1056
Paraguay
0.0498
Peru
0.0269
Philippines
0.0137
Poland
0.0363
Portugal
0.0147
Qatar
0.0041
Republic of Korea
0.041
Republic of Moldova
0.0097
Romania
0.0068
Russian Federation
0.1034
Rwanda
0.0439
Saint Kitts and Nevis
0.0088
Saint Lucia
0.0216
Saint Vincent and the Grenadines
0.0216
Samoa
0.009
Sao Tome and Principe
0.0217
Saudi Arabia
0.0358
Senegal
0.0538
Serbia
0.0882
Seychelles
0.0096
Sierra Leone
0.0186
Singapore
0.0102
Slovakia
0.0059
Slovenia
0.001
Solomon Islands
0.012
Somalia
0.0853
South Africa
0.049
Spain
0.025
Sri Lanka
0.0031
Suriname
0.0094
Sweden
0.0122
Switzerland
0.0087
Syrian Arab Republic
0.0714
Tajikistan
0.01
Thailand
0.0861
Timor-Leste
0.0261
Togo
0.0289
Tonga
0.0197
Trinidad and Tobago
0.0085
Tunisia
0.0147
Turkey
0.08
Turkmenistan
0.0165
Tuvalu
0.0089
Uganda
0.0479
Ukraine
0.0872
United Arab Emirates
0.014
United Kingdom of Great Britain and Northern Ireland
0.0219
United Republic of Tanzania
0.0195
United States of America
0.0863
Uruguay
0.0187
Uzbekistan
0.0248
Vanuatu
0.0516
Venezuela (Bolivarian Republic of)
0.0086
Viet Nam
0.0451
Yemen
0.0603
Zambia
0.0385
Zimbabwe
0.0652

              0     1       2
0   Afghanistan  2000  4.0573
1   Afghanistan  2001  4.3041
2   Afghanistan  2002  4.1269
3   Afghanistan  2003  3.9571
4   Afghanistan  2004  3.7943
..          ...   ...     ...
21     Zimbabwe  2021  3.7301
22     Zimbabwe  2022  3.7295
23     Zimbabwe  2023   3.729
24     Zimbabwe  2024  3.7285
25     Zimbabwe  2025   3.728

[4888 rows x 3 columns]

In [4]:
confidence=pd.DataFrame(confidence)
confidence.to_csv('confidence.csv')

In [5]:
all_result.columns = ['Country','Year','Score']
all_result

        Country  Year   Score
0   Afghanistan  2000  4.0573
1   Afghanistan  2001  4.3041
2   Afghanistan  2002  4.1269
3   Afghanistan  2003  3.9571
4   Afghanistan  2004  3.7943
..          ...   ...     ...
21     Zimbabwe  2021  3.7301
22     Zimbabwe  2022  3.7295
23     Zimbabwe  2023   3.729
24     Zimbabwe  2024  3.7285
25     Zimbabwe  2025   3.728

[4888 rows x 3 columns]

In [6]:
result = []
for country in data.Country.unique():
    one_country_data = all_result[
        (all_result['Country'] == country) &
        (all_result['Year'].isin([2020,2025]))
                                 ]
    target = 5 - one_country_data.iloc[0,2]
    change = one_country_data.iloc[1,2] - one_country_data.iloc[0,2]
    print(target ,  ' ',change)
    if change == 0:
        year = 'no change'
    else:
        year = target / change * 5
    result.append([country,year])
result = pd.DataFrame(result,columns=['Country','Year'])
result

3.0629999999999997   -0.3671
1.8723   -0.12769999999999992
1.0375   0.17979999999999974
1.1985999999999999   0.43429999999999946
2.558   -0.08810000000000029
2.3796   -0.11250000000000027
1.6568999999999998   -0.027300000000000324
2.8618   -0.18079999999999985
2.014   0.011399999999999633
2.9151   -0.11900000000000022
2.6506   -0.08820000000000006
1.9192   -0.08539999999999992
3.2724   -0.03750000000000009
2.0026   -0.0012999999999996348
1.5225   0.011400000000000077
1.9363000000000001   0.14720000000000022
1.7153   -0.10639999999999983
1.2334   0.3866999999999998
2.3281   -0.21309999999999985
2.2674   -0.17390000000000017
2.5777   -0.05580000000000007
1.6112000000000002   -0.05169999999999986
2.832   0.053199999999999914
1.5966   -0.054300000000000015
0.8194999999999997   0.08399999999999963
1.3466999999999998   0.0129999999999999
3.6564   -0.2598999999999998
1.5966999999999998   -0.04330000000000034
1.8407   0.15370000000000017
2.0048   -0.27070000000000016
2.7521   -0.1995
3.6959999999999997   -0.23720000000000008
3.2141   -0.24320000000000008
2.3032   0.09580000000000011
5.0   0.0
2.8521   0.14389999999999992
2.836   -0.15969999999999995
1.6898   -0.06099999999999994
2.5278   -0.07719999999999994
1.5482999999999998   0.015699999999999825
2.0174   -0.1311
1.6898   0.11430000000000007
3.0284   -0.009000000000000119
1.8725   -0.04700000000000015
1.5832000000000002   -0.07010000000000005
0.8891   0.10630000000000006
1.7833999999999999   -0.0376000000000003
2.6838   -0.08099999999999996
1.7828   -0.11140000000000017
2.0596   -0.1519999999999997
1.9983   0.02400000000000002
2.7871   -0.11719999999999997
2.948   -0.24180000000000001
2.6494   -0.08820000000000006
1.7576999999999998   -0.05380000000000029
1.7852999999999999   -0.06590000000000007
2.1209   -0.012800000000000367
1.932   -0.025500000000000078
1.7696999999999998   -0.04740000000000011
2.3073   -0.1732999999999998
1.1362   0.02499999999999991
2.7264   -0.08749999999999991
2.5258   -0.06490000000000018
2.111   -0.21659999999999968
2.6418   -0.08810000000000029
3.0351999999999997   -0.020400000000000196
2.9748   -0.04249999999999998
1.568   -0.04029999999999978
1.0144000000000002   0.2816000000000001
1.5939999999999999   -0.05270000000000019
2.8778   -0.18389999999999995
2.3714   -0.07509999999999994
2.566   -0.09160000000000013
1.1110000000000002   0.017400000000000304
1.7073   0.19560000000000022
2.5354   0.06130000000000013
1.5192999999999999   -0.057700000000000085
0.7542   0.5614999999999997
3.2606   -0.2096
1.7732   1.17
2.7159   -0.06579999999999986
4.4691   -0.21840000000000004
1.6835   -0.00019999999999997797
2.2196   -0.0524
2.4098   0.4215
2.0324   0.006899999999999906
4.6116   -0.12620000000000003
2.0185   0.0030000000000001137
1.2443   -0.032200000000000006
2.3996   -0.24750000000000005
2.0754   -0.021700000000000053
2.1192   -0.008999999999999897
1.7372   -0.07540000000000013
1.6166   -0.03819999999999979
1.0847000000000002   -0.0019999999999997797
1.9971999999999999   0.4161999999999999
1.6054   -0.03500000000000014
3.2049000000000003   -0.08460000000000001
3.3105   -0.006599999999999939
0.8971999999999998   -0.05590000000000028
2.024   -0.0013999999999998458
2.0867   0.08369999999999989
1.5282   0.044500000000000206
2.9456   -0.32209999999999983
2.5322   -0.08099999999999996
2.7457   -0.2341000000000002
2.1304   -0.012100000000000222
1.7227999999999999   -0.07140000000000013
1.6141   -0.05509999999999993
4.1249   -0.23770000000000002
1.9657   -0.1572
1.6048   -0.056599999999999984
1.7127   -0.20940000000000003
2.1423   -0.040000000000000036
1.8645999999999998   -0.05410000000000004
2.162   -0.14139999999999997
2.652   -0.08840000000000003
2.7429   0.019200000000000106
1.5756999999999999   0.04239999999999977
1.6077   -0.05690000000000017
2.7526   -0.23679999999999968
1.4327999999999999   -0.07010000000000005
1.7711000000000001   -0.2780999999999998
1.5985   -0.05259999999999998
1.7004000000000001   -0.0631999999999997
1.6099   0.13030000000000008
3.2873   -0.24549999999999983
1.9519000000000002   0.07040000000000024
2.5871   -0.05840000000000023
1.5945999999999998   -0.057700000000000085
1.9325999999999999   0.09850000000000003
0.8978000000000002   -0.047900000000000276
2.9052   -0.09860000000000024
1.8418   -0.043400000000000105
1.8037999999999998   0.09589999999999987
2.2177   0.022299999999999986
2.1222   -0.009500000000000064
2.6024   0.20219999999999994
1.7084000000000001   -0.0625
0.33009999999999984   0.0005999999999994898
2.8587   0.23399999999999999
3.0534   -0.07200000000000006
1.7172999999999998   -0.06280000000000019
2.6512   -0.08840000000000003
2.6508   -0.08820000000000006
1.9968   0.021199999999999886
2.65   -0.08830000000000027
3.3756   -0.10620000000000007
1.3013   0.2587999999999999
1.5953   0.29559999999999986
1.5964999999999998   -0.04850000000000021
2.6227   -0.12539999999999996
2.1382   0.01609999999999978
1.3857   -0.026499999999999968
2.0661   0.000700000000000145
1.6307999999999998   -0.06330000000000036
3.6996   -0.2430000000000001
2.1125   -0.16600000000000037
2.1184   -0.07640000000000002
2.8194   0.020099999999999785
1.7837   -0.08230000000000004
1.3159999999999998   0.05769999999999964
1.6787999999999998   -0.05420000000000025
2.5204   -0.052000000000000046
1.5979999999999999   -0.07520000000000016
3.2095000000000002   0.06150000000000011
2.5411   -0.08279999999999976
1.0846   -0.007699999999999818
2.6046   -0.10289999999999999
1.6107999999999998   -0.05610000000000026
1.6116000000000001   -0.028000000000000025
3.4528   -0.2761
3.2729   -0.1443000000000001
1.6821000000000002   -0.05410000000000004
2.4208   -0.25439999999999996
2.2417   -0.12790000000000035
2.8423   -0.06510000000000016
1.4729999999999999   -0.0343
0.6813000000000002   0.07779999999999987
2.8474   0.008199999999999985
0.9141000000000004   0.042800000000000615
1.2037   0.2563
2.771   -0.14680000000000026
1.7189999999999999   -0.09160000000000013
1.7224   0.06289999999999996
1.5859   0.22360000000000024
1.451   0.0026999999999999247
1.2694   -0.0025999999999997137

                                Country     Year
0                           Afghanistan -41.7189
1                               Albania -73.3085
2                               Algeria  28.8515
3                                Angola  13.7992
4                   Antigua and Barbuda -145.176
..                                  ...      ...
183  Venezuela (Bolivarian Republic of) -93.8319
184                            Viet Nam  136.916
185                               Yemen  35.4629
186                              Zambia  2687.04
187                            Zimbabwe -2441.15

[188 rows x 2 columns]

In [7]:
result.to_csv('Year.csv')