In [13]:
import tushare as ts
import pandas as pd 
import numpy as np 
ts.set_token('7c9f5442e7afbee1c52d71c8f3cc1931af510a048a85580a40530639')
pro = ts.pro_api()

In [28]:

data = ts.get_k_data('hs300', start='20130101') # 沪深300 股指
data

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

            date     open    close     high      low       volume   code
238   2014-01-02  2323.43  2321.98  2325.99  2310.65   45194291.0  hs300
239   2014-01-03  2311.97  2290.78  2314.84  2280.89   59782645.0  hs300
240   2014-01-06  2286.37  2238.64  2286.37  2229.33   66300403.0  hs300
241   2014-01-07  2222.31  2238.00  2246.79  2218.65   43753103.0  hs300
242   2014-01-08  2240.64  2241.91  2262.58  2228.42   51348854.0  hs300
...          ...      ...      ...      ...      ...          ...    ...
1915  2020-11-20  4928.22  4943.29  4947.43  4922.59  129400341.0  hs300
1916  2020-11-23  4954.60  5005.03  5029.65  4940.45  205915187.0  hs300
1917  2020-11-24  4997.05  4974.29  5001.06  4960.98  156637911.0  hs300
1918  2020-11-25  4992.75  4910.70  5004.77  4910.70  170340527.0  hs300
1919  2020-11-26  4908.32  4919.59  4925.29  4867.82  137202338.0  hs300

[1682 rows x 7 columns]

In [29]:
data.to_csv('hs300_dayly.csv')