In [1]:
import pandas as pd 
import numpy as np
from IPython.display import display
data = pd.read_csv('农作物产量.csv',encoding='unicode_escape')
data

,Area,Item,Year,Yield(hg/ha),Area harvested(ha)
0,Afghanistan,"Almonds, with shell",2000,17143.0,7000.0
1,Afghanistan,"Almonds, with shell",2001,16667.0,9000.0
2,Afghanistan,"Almonds, with shell",2002,21407.0,5500.0
3,Afghanistan,"Almonds, with shell",2003,24561.0,5700.0
4,Afghanistan,"Almonds, with shell",2004,12250.0,12000.0
...,...,...,...,...,...
870835,Net Food Importing Developing Countries,Jojoba seed,2015,NaN,NaN
870836,Net Food Importing Developing Countries,Jojoba seed,2016,NaN,NaN
870837,Net Food Importing Developing Countries,Jojoba seed,2017,NaN,NaN
870838,Net Food Importing Developing Countries,Jojoba seed,2018,NaN,NaN
870839,Net Food Importing Developing Countries,Jojoba seed,2019,NaN,NaN

In [6]:
y = data.groupby(['Area','Year']).mean()
y.drop('Area harvested(ha)',axis=1,inplace=True)
h = data.groupby(['Area','Year']).sum()
h.drop('Yield(hg/ha)',axis=1,inplace=True)

In [10]:
all_data = pd.concat([y,h],axis=1)
all_data.to_csv('农作物产量.csv')