In [7]:
import pandas as pd 
import numpy as np 
from IPython.display import display
data = pd.read_csv('WGIData.csv')
data

,Area,Item,1996,1998,2000,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Control of Corruption: Estimate,-1.291705,-1.180848,-1.295380,-1.263366,-1.351042,-1.345281,-1.443609,-1.432890,...,-1.635723,-1.579179,-1.419888,-1.436761,-1.354784,-1.341994,-1.526352,-1.517361,-1.496834,-1.401076
1,Afghanistan,Control of Corruption: Number of Sources,2.000000,2.000000,2.000000,2.000000,3.000000,5.000000,5.000000,7.000000,...,9.000000,9.000000,10.000000,11.000000,11.000000,11.000000,10.000000,10.000000,10.000000,10.000000
2,Afghanistan,Control of Corruption: Percentile Rank,4.301075,9.793815,5.076142,5.050505,5.050505,5.853659,2.439024,3.902439,...,0.952381,0.947867,2.369668,1.895735,5.288462,6.250000,3.365385,3.846154,4.326923,6.730769
3,Afghanistan,"Control of Corruption: Percentile Rank, Lower ...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.480769,1.442308,0.000000,0.000000,0.000000,1.923077
4,Afghanistan,"Control of Corruption: Percentile Rank, Upper ...",27.419360,31.443300,29.441620,31.818180,18.181820,14.146340,13.170730,12.195120,...,3.809524,5.687204,11.848340,9.952606,12.500000,12.500000,9.615385,9.615385,9.615385,12.019230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7699,Zimbabwe,Voice and Accountability: Number of Sources,6.000000,6.000000,8.000000,11.000000,12.000000,13.000000,14.000000,17.000000,...,17.000000,18.000000,19.000000,19.000000,14.000000,15.000000,15.000000,15.000000,15.000000,14.000000
7700,Zimbabwe,Voice and Accountability: Percentile Rank,30.500000,25.870650,15.920400,10.945270,9.950249,6.250000,5.288462,7.211538,...,8.056872,7.981221,7.511737,9.859155,13.793100,15.763550,14.778330,14.778330,17.241380,16.748770
7701,Zimbabwe,"Voice and Accountability: Percentile Rank, Low...",18.500000,13.432840,9.452736,5.472637,3.980099,2.403846,1.923077,6.730769,...,5.687204,5.164319,3.755868,5.164319,7.389163,9.852217,10.344830,10.837440,12.315270,12.807880
7702,Zimbabwe,"Voice and Accountability: Percentile Rank, Upp...",41.000000,34.825870,25.373130,15.920400,12.935320,10.096150,8.173077,8.653846,...,12.796210,12.676060,12.206570,14.553990,20.197040,22.167490,22.167490,21.674880,22.167490,22.167490
7703,Zimbabwe,Voice and Accountability: Standard Error,0.208810,0.214446,0.192938,0.156958,0.148406,0.144486,0.139619,0.110492,...,0.110216,0.110784,0.107736,0.103857,0.120462,0.121644,0.119457,0.119724,0.124262,0.118219

In [8]:
year_list = data.columns.tolist()
year_list = year_list[4:]
year_list

['2000',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [11]:
from IPython.display import display
all_data = []

for location in data['Area'].unique():
    print(location)
    for item in data['Item'].unique():
        one_row = data[
            (data['Area'] == location) &
            (data['Item'] == item) 
        ]
        for year in year_list:
            one_data = []
            one_data.append(location)
            one_data.append(item)
            one_data.append(year)
            one_data.append(one_row[year].values[0])
            all_data.append(one_data)
all_data = pd.DataFrame(all_data)
all_data.columns = ['Area','Item','Year','Value']
all_data

Afghanistan
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas, The
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Chile
China
Colombia
Comoros
Congo, Dem. Rep.
Congo, Rep.
Cook Islands
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt, Arab Rep.
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Fiji
Finland
France
French Guiana
Gabon
Gambia, The
Georgia
Germany
Ghana
Greece
Greenland
Grenada
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hong Kong SAR, China
Hungary
Iceland
India
Indonesia
Iran, Islamic Rep.
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jersey, Channel Islands
Jordan
Kazakhstan
Kenya
Kiribati
Korea, Dem. People’s Rep.
Korea, Rep.
Kosovo
Kuwait
Kyrgyz Republic
Lao PDR
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macao SAR, China
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mexico
Micronesia, Fed. Sts.
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
Netherlands Antilles
New Zealand
Nicaragua
Niger
Nigeria
Niue
North Macedonia
Norway
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Reunion
Romania
Russian Federation
Rwanda
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovak Republic
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
St. Kitts and Nevis
St. Lucia
St. Vincent and the Grenadines
Sudan
Suriname
Sweden
Switzerland
Syrian Arab Republic
Taiwan, China
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Uruguay
Uzbekistan
Vanuatu
Venezuela, RB
Vietnam
Virgin Islands (U.S.)
West Bank and Gaza
Yemen, Rep.
Zambia
Zimbabwe

               Area                                      Item  Year     Value
0       Afghanistan           Control of Corruption: Estimate  2000 -1.295380
1       Afghanistan           Control of Corruption: Estimate  2002 -1.263366
2       Afghanistan           Control of Corruption: Estimate  2003 -1.351042
3       Afghanistan           Control of Corruption: Estimate  2004 -1.345281
4       Afghanistan           Control of Corruption: Estimate  2005 -1.443609
...             ...                                       ...   ...       ...
146371     Zimbabwe  Voice and Accountability: Standard Error  2015  0.121644
146372     Zimbabwe  Voice and Accountability: Standard Error  2016  0.119457
146373     Zimbabwe  Voice and Accountability: Standard Error  2017  0.119724
146374     Zimbabwe  Voice and Accountability: Standard Error  2018  0.124262
146375     Zimbabwe  Voice and Accountability: Standard Error  2019  0.118219

[146376 rows x 4 columns]

In [13]:
data = all_data
all_ = pd.DataFrame()
for i in data['Item'].unique():
    one_data = data[data['Item']==i]
    one_data.drop('Item',axis=1,inplace=True)
    one_data.columns = ['Area','Year',i]
    one_data.set_index(['Area','Year'],inplace=True)
    display(one_data)
    all_ = pd.concat([all_,one_data],axis=1)
all_.to_csv('政治指标.csv')

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Control of Corruption: Estimate
Area        Year
Afghanistan 2000                        -1.295380
            2002                        -1.263366
            2003                        -1.351042
            2004                        -1.345281
            2005                        -1.443609
...                                           ...
Zimbabwe    2015                        -1.310461
            2016                        -1.259387
            2017                        -1.272736
            2018                        -1.234743
            2019                        -1.238796

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Control of Corruption: Number of Sources
Area        Year
Afghanistan 2000                                       2.0
            2002                                       2.0
            2003                                       3.0
            2004                                       5.0
            2005                                       5.0
...                                                    ...
Zimbabwe    2015                                      15.0
            2016                                      15.0
            2017                                      15.0
            2018                                      15.0
            2019                                      15.0

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Control of Corruption: Percentile Rank
Area        Year
Afghanistan 2000                                5.076142
            2002                                5.050505
            2003                                5.050505
            2004                                5.853659
            2005                                2.439024
...                                                  ...
Zimbabwe    2015                                6.730769
            2016                                9.615385
            2017                                9.615385
            2018                               10.096150
            2019                               10.096150

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Control of Corruption: Percentile Rank, Lower Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           0.000000
            2002                                           0.000000
            2003                                           0.000000
            2004                                           0.000000
            2005                                           0.000000
...                                                             ...
Zimbabwe    2015                                           1.923077
            2016                                           4.807693
            2017                                           4.807693
            2018                                           5.288462
            2019                                           4.326923

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Control of Corruption: Percentile Rank, Upper Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           29.44162
            2002                                           31.81818
            2003                                           18.18182
            2004                                           14.14634
            2005                                           13.17073
...                                                             ...
Zimbabwe    2015                                           12.01923
            2016                                           12.98077
            2017                                           12.50000
            2018                                           14.42308
            2019                                           15.38461

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Control of Corruption: Standard Error
Area        Year
Afghanistan 2000                               0.356294
            2002                               0.359915
            2003                               0.275339
            2004                               0.214315
            2005                               0.207736
...                                                 ...
Zimbabwe    2015                               0.133618
            2016                               0.135461
            2017                               0.125064
            2018                               0.127264
            2019                               0.135945

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Government Effectiveness: Estimate
Area        Year
Afghanistan 2000                           -2.231651
            2002                           -1.567973
            2003                           -1.082488
            2004                           -0.894051
            2005                           -1.210829
...                                              ...
Zimbabwe    2015                           -1.157869
            2016                           -1.158350
            2017                           -1.188722
            2018                           -1.198860
            2019                           -1.205337

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Government Effectiveness: Number of Sources
Area        Year
Afghanistan 2000                                          1.0
            2002                                          2.0
            2003                                          2.0
            2004                                          4.0
            2005                                          4.0
...                                                       ...
Zimbabwe    2015                                         12.0
            2016                                         12.0
            2017                                         12.0
            2018                                         12.0
            2019                                         12.0

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Government Effectiveness: Percentile Rank
Area        Year
Afghanistan 2000                                   0.000000
            2002                                   2.040816
            2003                                  11.734690
            2004                                  17.241380
            2005                                   9.803922
...                                                     ...
Zimbabwe    2015                                  12.019230
            2016                                  11.057690
            2017                                  11.057690
            2018                                  10.576920
            2019                                  10.576920

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Government Effectiveness: Percentile Rank, Lower Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           0.000000
            2002                                           0.000000
            2003                                           1.530612
            2004                                           6.896552
            2005                                           1.960784
...                                                             ...
Zimbabwe    2015                                           6.730769
            2016                                           7.211538
            2017                                           5.769231
            2018                                           6.730769
            2019                                           6.250000

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Government Effectiveness: Percentile Rank, Upper Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           2.564103
            2002                                           9.183674
            2003                                          32.142860
            2004                                          37.438420
            2005                                          22.549020
...                                                             ...
Zimbabwe    2015                                          18.750000
            2016                                          18.269230
            2017                                          17.788460
            2018                                          16.346150
            2019                                          16.346150

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Government Effectiveness: Standard Error
Area        Year
Afghanistan 2000                                  0.343066
            2002                                  0.262548
            2003                                  0.306744
            2004                                  0.239062
            2005                                  0.222252
...                                                    ...
Zimbabwe    2015                                  0.175529
            2016                                  0.171102
            2017                                  0.176826
            2018                                  0.180599
            2019                                  0.188435

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Political Stability and Absence of Violence/Terrorism: Estimate
Area        Year
Afghanistan 2000                                          -2.440187
            2002                                          -2.035389
            2003                                          -2.197809
            2004                                          -2.296179
            2005                                          -2.070934
...                                                             ...
Zimbabwe    2015                                          -0.618156
            2016                                          -0.619938
            2017                                          -0.708677
            2018                                          -0.713406
            2019                                          -0.920179

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Political Stability and Absence of Violence/Terrorism: Number of Sources
Area        Year
Afghanistan 2000                                                2.0
            2002                                                2.0
            2003                                                2.0
            2004                                                4.0
            2005                                                4.0
...                                                             ...
Zimbabwe    2015                                                8.0
            2016                                                8.0
            2017                                                8.0
            2018                                                8.0
            2019                                                7.0

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Political Stability and Absence of Violence/Terrorism: Percentile Rank
Area        Year
Afghanistan 2000                                           0.529100
            2002                                           1.587302
            2003                                           2.010050
            2004                                           1.941748
            2005                                           2.427185
...                                                             ...
Zimbabwe    2015                                          24.285720
            2016                                          24.761910
            2017                                          20.952380
            2018                                          20.476190
            2019                                          14.761900

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Political Stability and Absence of Violence/Terrorism: Percentile Rank, Lower Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           0.000000
            2002                                           0.000000
            2003                                           0.000000
            2004                                           0.485437
            2005                                           0.485437
...                                                             ...
Zimbabwe    2015                                          16.666670
            2016                                          14.285710
            2017                                          13.333330
            2018                                          12.857140
            2019                                          10.476190

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Political Stability and Absence of Violence/Terrorism: Percentile Rank, Upper Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           5.820106
            2002                                          13.227510
            2003                                           6.030151
            2004                                           4.368932
            2005                                           6.310679
...                                                             ...
Zimbabwe    2015                                          35.714290
            2016                                          35.714290
            2017                                          31.904760
            2018                                          33.333330
            2019                                          26.666670

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Political Stability and Absence of Violence/Terrorism: Standard Error
Area        Year
Afghanistan 2000                                           0.455642
            2002                                           0.438637
            2003                                           0.350438
            2004                                           0.305102
            2005                                           0.304017
...                                                             ...
Zimbabwe    2015                                           0.202983
            2016                                           0.207796
            2017                                           0.215911
            2018                                           0.214933
            2019                                           0.233699

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Regulatory Quality: Estimate
Area        Year
Afghanistan 2000                     -2.109626
            2002                     -1.804449
            2003                     -1.430002
            2004                     -1.505863
            2005                     -1.637369
...                                        ...
Zimbabwe    2015                     -1.653554
            2016                     -1.720110
            2017                     -1.563330
            2018                     -1.503522
            2019                     -1.463199

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Regulatory Quality: Number of Sources
Area        Year
Afghanistan 2000                                    1.0
            2002                                    2.0
            2003                                    2.0
            2004                                    4.0
            2005                                    4.0
...                                                 ...
Zimbabwe    2015                                   11.0
            2016                                   11.0
            2017                                   11.0
            2018                                   11.0
            2019                                   11.0

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Regulatory Quality: Percentile Rank
Area        Year
Afghanistan 2000                             1.538462
            2002                             3.061224
            2003                             5.612245
            2004                             5.418719
            2005                             3.431373
...                                               ...
Zimbabwe    2015                             3.365385
            2016                             3.365385
            2017                             3.846154
            2018                             5.288462
            2019                             6.250000

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Regulatory Quality: Percentile Rank, Lower Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           0.000000
            2002                                           0.000000
            2003                                           2.551020
            2004                                           1.970443
            2005                                           1.470588
...                                                             ...
Zimbabwe    2015                                           1.923077
            2016                                           1.923077
            2017                                           2.884615
            2018                                           2.884615
            2019                                           3.365385

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Regulatory Quality: Percentile Rank, Upper Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           8.205129
            2002                                           7.142857
            2003                                          15.306120
            2004                                          11.822660
            2005                                           8.333333
...                                                             ...
Zimbabwe    2015                                           5.288462
            2016                                           5.288462
            2017                                           8.173077
            2018                                           8.653846
            2019                                           9.134615

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Regulatory Quality: Standard Error
Area        Year
Afghanistan 2000                            0.426612
            2002                            0.305273
            2003                            0.235703
            2004                            0.224738
            2005                            0.182855
...                                              ...
Zimbabwe    2015                            0.166688
            2016                            0.169555
            2017                            0.165856
            2018                            0.164480
            2019                            0.164172

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Rule of Law: Estimate
Area        Year
Afghanistan 2000              -1.778437
            2002              -1.670823
            2003              -1.553829
            2004              -1.697143
            2005              -1.658668
...                                 ...
Zimbabwe    2015              -1.317532
            2016              -1.368230
            2017              -1.377855
            2018              -1.273343
            2019              -1.257009

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Rule of Law: Number of Sources
Area        Year
Afghanistan 2000                             3.0
            2002                             4.0
            2003                             4.0
            2004                             6.0
            2005                             7.0
...                                          ...
Zimbabwe    2015                            16.0
            2016                            15.0
            2017                            15.0
            2018                            15.0
            2019                            15.0

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Rule of Law: Percentile Rank
Area        Year
Afghanistan 2000                      1.485149
            2002                      1.980198
            2003                      3.960396
            2004                      2.870813
            2005                      1.913876
...                                        ...
Zimbabwe    2015                      6.250000
            2016                      8.173077
            2017                      7.692307
            2018                      8.173077
            2019                      8.173077

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Rule of Law: Percentile Rank, Lower Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           0.000000
            2002                                           0.000000
            2003                                           0.000000
            2004                                           0.000000
            2005                                           0.000000
...                                                             ...
Zimbabwe    2015                                           2.884615
            2016                                           4.326923
            2017                                           4.326923
            2018                                           5.288462
            2019                                           5.288462

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Rule of Law: Percentile Rank, Upper Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           8.910892
            2002                                          10.891090
            2003                                          15.346530
            2004                                           7.655502
            2005                                           8.612440
...                                                             ...
Zimbabwe    2015                                          11.538460
            2016                                          11.057690
            2017                                          10.096150
            2018                                          14.423080
            2019                                          14.423080

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Rule of Law: Standard Error
Area        Year
Afghanistan 2000                     0.294017
            2002                     0.299407
            2003                     0.303960
            2004                     0.215979
            2005                     0.206080
...                                       ...
Zimbabwe    2015                     0.139598
            2016                     0.152688
            2017                     0.143516
            2018                     0.138701
            2019                     0.140915

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Voice and Accountability: Estimate
Area        Year
Afghanistan 2000                           -2.031417
            2002                           -1.433421
            2003                           -1.177571
            2004                           -1.203034
            2005                           -1.125430
...                                              ...
Zimbabwe    2015                           -1.165902
            2016                           -1.177471
            2017                           -1.194492
            2018                           -1.123221
            2019                           -1.141875

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Voice and Accountability: Number of Sources
Area        Year
Afghanistan 2000                                          4.0
            2002                                          6.0
            2003                                          5.0
            2004                                          7.0
            2005                                          8.0
...                                                       ...
Zimbabwe    2015                                         15.0
            2016                                         15.0
            2017                                         15.0
            2018                                         15.0
            2019                                         14.0

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Voice and Accountability: Percentile Rank
Area        Year
Afghanistan 2000                                   0.995025
            2002                                   9.452736
            2003                                  14.427860
            2004                                  15.384610
            2005                                  14.903850
...                                                     ...
Zimbabwe    2015                                  15.763550
            2016                                  14.778330
            2017                                  14.778330
            2018                                  17.241380
            2019                                  16.748770

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Voice and Accountability: Percentile Rank, Lower Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           0.000000
            2002                                           2.985075
            2003                                           6.965174
            2004                                           7.211538
            2005                                           8.173077
...                                                             ...
Zimbabwe    2015                                           9.852217
            2016                                          10.344830
            2017                                          10.837440
            2018                                          12.315270
            2019                                          12.807880

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Voice and Accountability: Percentile Rank, Upper Bound of 90% Confidence Interval
Area        Year
Afghanistan 2000                                           5.472637
            2002                                          14.925370
            2003                                          24.378110
            2004                                          21.634610
            2005                                          23.557690
...                                                             ...
Zimbabwe    2015                                          22.167490
            2016                                          22.167490
            2017                                          21.674880
            2018                                          22.167490
            2019                                          22.167490

[4066 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                  Voice and Accountability: Standard Error
Area        Year
Afghanistan 2000                                  0.254043
            2002                                  0.189453
            2003                                  0.207045
            2004                                  0.175590
            2005                                  0.173295
...                                                    ...
Zimbabwe    2015                                  0.121644
            2016                                  0.119457
            2017                                  0.119724
            2018                                  0.124262
            2019                                  0.118219

[4066 rows x 1 columns]