In [2]:
import pandas as pd 
import numpy as np 
from IPython.display import display
data= pd.read_excel('data.xlsx')
data

,Country Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],1968 [YR1968],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,..,..,..,..,..,..,..,161588,162629,...,97652,93814,89972,86414,82999,79915,77124,74595,72186,..
1,Albania,..,..,..,..,..,..,..,..,..,...,432,398,372,352,339,331,327,326,327,..
2,Algeria,125823,129117,132768,136479,140042,143625,147215,150352,153079,...,23646,24008,24406,24775,25021,25025,24762,24279,23598,..
3,American Samoa,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,..,..,..,..,..,..,..,..,..,...,3,3,3,3,2,2,2,2,2,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,Sub-Saharan Africa,..,..,..,..,..,..,..,..,..,...,3238101,3179814,3126229,3080513,3035934,2985583,2939340,2889970,2843317,..
255,Sub-Saharan Africa (excluding high income),..,..,..,..,..,..,..,..,..,...,3237858,3179573,3125993,3080286,3035714,2985366,2939121,2889748,2843088,..
256,Sub-Saharan Africa (IDA & IBRD countries),..,..,..,..,..,..,..,..,..,...,3238101,3179814,3126229,3080513,3035934,2985583,2939340,2889970,2843317,..
257,Upper middle income,..,..,..,..,..,..,..,..,..,...,801132,762264,726931,693059,660372,634087,599475,569691,541899,..
258,World,..,..,..,..,..,..,..,..,..,...,6674702,6450350,6239183,6044660,5861991,5685150,5510559,5345010,5188872,..

In [16]:
all_result = []
for country in data['Country Name'].unique():
    print(country)
    one_country_data = data[data['Country Name'] == country]
    for i in range(1,len(one_country_data.columns)):
        one = []
        one.append(country)
        year = i+1959
        one.append(year)
        one.append(one_country_data.iloc[0,i])
        all_result.append(one)
all_result = pd.DataFrame(all_result,columns=['Country','Year','Value'])
all_result

Afghanistan
Albania
Algeria
American Samoa
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas, The
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bermuda
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Channel Islands
Chile
China
Colombia
Comoros
Congo, Dem. Rep.
Congo, Rep.
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Curacao
Cyprus
Czech Republic
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt, Arab Rep.
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Faroe Islands
Fiji
Finland
France
French Polynesia
Gabon
Gambia, The
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hong Kong SAR, China
Hungary
Iceland
India
Indonesia
Iran, Islamic Rep.
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Korea, Dem. People’s Rep.
Korea, Rep.
Kosovo
Kuwait
Kyrgyz Republic
Lao PDR
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Macao SAR, China
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia, Fed. Sts.
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
North Macedonia
Northern Mariana Islands
Norway
Oman
Pakistan
Palau
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Romania
Russian Federation
Rwanda
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch part)
Slovak Republic
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
St. Kitts and Nevis
St. Lucia
St. Martin (French part)
St. Vincent and the Grenadines
Sudan
Suriname
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United States
Uruguay
Uzbekistan
Vanuatu
Venezuela, RB
Vietnam
Virgin Islands (U.S.)
West Bank and Gaza
Yemen, Rep.
Zambia
Zimbabwe
Arab World
Caribbean small states
Central Europe and the Baltics
Early-demographic dividend
East Asia & Pacific
East Asia & Pacific (excluding high income)
East Asia & Pacific (IDA & IBRD countries)
Euro area
Europe & Central Asia
Europe & Central Asia (excluding high income)
Europe & Central Asia (IDA & IBRD countries)
European Union
Fragile and conflict affected situations
Heavily indebted poor countries (HIPC)
High income
Late-demographic dividend
Latin America & Caribbean
Latin America & Caribbean (excluding high income)
Latin America & the Caribbean (IDA & IBRD countries)
Least developed countries: UN classification
Low & middle income
Low income
Lower middle income
Middle East & North Africa
Middle East & North Africa (excluding high income)
Middle East & North Africa (IDA & IBRD countries)
Middle income
North America
Not classified
OECD members
Other small states
Pacific island small states
Post-demographic dividend
Pre-demographic dividend
Small states
South Asia
South Asia (IDA & IBRD)
Sub-Saharan Africa
Sub-Saharan Africa (excluding high income)
Sub-Saharan Africa (IDA & IBRD countries)
Upper middle income
World

           Country  Year    Value
0      Afghanistan  1960       ..
1      Afghanistan  1961       ..
2      Afghanistan  1962       ..
3      Afghanistan  1963       ..
4      Afghanistan  1964       ..
...            ...   ...      ...
15794        World  2016  5685150
15795        World  2017  5510559
15796        World  2018  5345010
15797        World  2019  5188872
15798        World  2020       ..

[15799 rows x 3 columns]

In [17]:
all_result.to_csv('result.csv')