In [9]:
import pandas as pd
import tushare as ts
import numpy as np
from datetime import datetime
from datetime import timedelta
import random

In [11]:
data = pd.read_csv('美国.csv')
data

,YM,YS,Year,Season,Month,Day,Volume,Close,CPI,consumer confidence,G,NX(yi mei yuan),ISM,GDP Season
0,20151,20151,2015,1,1,2015/1/2,76270000,17832.99023,100.000000,98.2,1214.892,-435.9,55.1,16287700000000
1,20151,20151,2015,1,1,2015/1/5,116160000,17501.65039,100.000000,98.2,1214.892,-435.9,55.1,16287700000000
2,20151,20151,2015,1,1,2015/1/6,101870000,17371.64063,100.000000,98.2,1214.892,-435.9,55.1,16287700000000
3,20151,20151,2015,1,1,2015/1/7,91030000,17584.51953,100.000000,98.2,1214.892,-435.9,55.1,16287700000000
4,20151,20151,2015,1,1,2015/1/8,114890000,17907.86914,100.000000,98.2,1214.892,-435.9,55.1,16287700000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,202011,20204,2020,4,11,2020/11/19,331330000,29483.23047,109.934083,77.0,NaN,-,59.3,0
1483,202011,20204,2020,4,11,2020/11/20,305350000,29263.48047,109.934083,77.0,NaN,-,59.3,0
1484,202011,20204,2020,4,11,2020/11/23,387200000,29591.26953,109.934083,77.0,NaN,-,59.3,0
1485,202011,20204,2020,4,11,2020/11/24,432760000,30046.24023,109.934083,77.0,NaN,-,59.3,0
1486,202011,20204,2020,4,11,2020/11/25,323030000,29872.47070,109.934083,77.0,NaN,-,59.3,0

In [12]:

year_list = data['Year'].drop_duplicates()
season_list = data['Season'].drop_duplicates()
columns_value = [ i for i in data.columns]
columns_value.append('GDP_per_day')

In [13]:
final_list = []
for year in year_list:
    for season in season_list:
        season_data = data[(data['Year']==year) & (data['Season']==season)]
        sum_hs300 = sum(season_data['Close'])
        for index , row in season_data.iterrows():
            sound = random.uniform(0.97,1.03)
            daily_gdp = (row['Close']/sum_hs300) * row['GDP Season'] * sound
            row = row.tolist()
            row.append(daily_gdp)
            final_list.append(row)
final_list = pd.DataFrame(final_list)
final_list.columns = columns_value
final_list

,YM,YS,Year,Season,Month,Day,Volume,Close,CPI,consumer confidence,G,NX(yi mei yuan),ISM,GDP Season,GDP_per_day
0,20151,20151,2015,1,1,2015/1/2,76270000,17832.99023,100.000000,98.2,1214.892,-435.9,55.1,16287700000000,2.611213e+11
1,20151,20151,2015,1,1,2015/1/5,116160000,17501.65039,100.000000,98.2,1214.892,-435.9,55.1,16287700000000,2.678578e+11
2,20151,20151,2015,1,1,2015/1/6,101870000,17371.64063,100.000000,98.2,1214.892,-435.9,55.1,16287700000000,2.651705e+11
3,20151,20151,2015,1,1,2015/1/7,91030000,17584.51953,100.000000,98.2,1214.892,-435.9,55.1,16287700000000,2.675081e+11
4,20151,20151,2015,1,1,2015/1/8,114890000,17907.86914,100.000000,98.2,1214.892,-435.9,55.1,16287700000000,2.670250e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,202011,20204,2020,4,11,2020/11/19,331330000,29483.23047,109.934083,77.0,NaN,-,59.3,0,0.000000e+00
1483,202011,20204,2020,4,11,2020/11/20,305350000,29263.48047,109.934083,77.0,NaN,-,59.3,0,0.000000e+00
1484,202011,20204,2020,4,11,2020/11/23,387200000,29591.26953,109.934083,77.0,NaN,-,59.3,0,0.000000e+00
1485,202011,20204,2020,4,11,2020/11/24,432760000,30046.24023,109.934083,77.0,NaN,-,59.3,0,0.000000e+00
1486,202011,20204,2020,4,11,2020/11/25,323030000,29872.47070,109.934083,77.0,NaN,-,59.3,0,0.000000e+00

In [14]:
final_list.to_csv('model data final.csv')